<form class="form-signin">
  <div class="text-center logo">
    <img src="./assets/imgs/logos/logo.svg" alt="Form Fire Logo">
  </div>
  <div class="row">
    <div class="col-12">
      <div class="alert alert-success mb-5 p-2 text-center" role="alert">Your email address is validated successfully. <br>Please continue with setting up your account.</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <button class="btn btn-primary" type="submit" routerLink="/validate-email/setup-username">Continue</button>
    </div>
  </div>
</form>