

<form [formGroup]="angForm" novalidate>
    <div class="container form-container">
        <!--success message-->
        <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null" class="sticky-alert">{{ successMessage }}</ngb-alert>
        <!--success message-->
        <h3 class="text-center mb-4">Employer Details</h3>
        <div class="card">
            <div class="card-header">
                <h4>Employer Application Form</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check4">
                                <label class="custom-control-label" for="check4">Checkbox</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check5">
                                <label class="custom-control-label" for="check5">Checkbox</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check6">
                                <label class="custom-control-label" for="check6">Checkbox</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-4 col-md-4 col-lg-4 d-flex align-items-center">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio1">Radio Check</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-4 d-flex align-items-center">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio2">Radio Check</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group">
                            <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems"
                                [settings]="dropdownSettings" formControlName="status">
                            </angular2-multiselect>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-header">
                <h4>Basic Information</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group has-float-label">
                            <input class="form-control" id="employerName" type="text" placeholder="Employer Name"
                                formControlName="empName" />
                            <label for="employerName">Employer Name</label>
                            <div *ngIf="angForm.controls['empName'].invalid && (angForm.controls['empName'].dirty || angForm.controls['empName'].touched)"
                                class="error-msg">
                                <div *ngIf="angForm.controls['empName'].errors.required">
                                    Employer name is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group has-float-label">
                            <input class="form-control" type="text" id="taxId" placeholder="Tax ID"
                                formControlName="tax">
                            <label for="taxId">Tax ID</label>
                            <div *ngIf="angForm.controls['tax'].invalid && (angForm.controls['tax'].dirty || angForm.controls['tax'].touched)"
                                class="error-msg">
                                <div *ngIf="angForm.controls['tax'].errors.required">
                                    Tax ID is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group has-float-label">
                            <input class="form-control" type="text" id="employerID" placeholder="Employer ID"
                                formControlName="employerID">
                            <label for="employerID">Employer ID</label>
                            <div *ngIf="angForm.controls['employerID'].invalid && (angForm.controls['employerID'].dirty || angForm.controls['employerID'].touched)"
                                class="error-msg">
                                <div *ngIf="angForm.controls['employerID'].errors.required">
                                    Employer ID is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group has-float-label">
                            <input class="form-control" type="text" id="contactName" placeholder="Contact Name"
                                formControlName="contactName">
                            <label for="contactName">Contact Name</label>
                            <div *ngIf="angForm.controls['contactName'].invalid && (angForm.controls['contactName'].dirty || angForm.controls['contactName'].touched)"
                                class="error-msg">
                                <div *ngIf="angForm.controls['contactName'].errors.required">
                                    Contact name is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group has-float-label">
                            <input class="form-control" type="text" id="contactEmail" placeholder="Contact Email"
                                formControlName="contactEmail">
                            <label for="contactEmail">Contact Email</label>
                            <div *ngIf="angForm.controls['contactEmail'].invalid && (angForm.controls['contactEmail'].dirty || angForm.controls['contactEmail'].touched)"
                                class="error-msg">
                                <div *ngIf="angForm.controls['contactEmail'].errors.required">
                                    Contact email is required.
                                </div>
                                <div *ngIf="angForm.controls['contactEmail'].errors.email">
                                    Contact email must be a valid email address.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group has-float-label">
                            <input class="form-control" type="text" id="contactPhone" placeholder="Contact Phone"
                                formControlName="contactPhone">
                            <label for="contactPhone">Contact Phone</label>
                            <div *ngIf="angForm.controls['contactPhone'].invalid && (angForm.controls['contactPhone'].dirty || angForm.controls['contactPhone'].touched)"
                                class="error-msg">
                                <div *ngIf="angForm.controls['contactPhone'].errors.required">
                                    Contact phone is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- dynamic row added -->
                <div formArrayName="employerAddress"
                    *ngFor="let empAddress of angForm.get('employerAddress')['controls']; let i = index">
                    <div class="row" [formGroupName]="i">
                        <div class="col-12 text-right" *ngIf="angForm.get('employerAddress').length>1">
                            <a href="javascript:void(0)" class="delete-row mb-3 d-inline-block danger"
                                (click)="removeEmpAddressBtn(i)">
                                <i class="icon-remove" ngbTooltip="Delete"></i>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group has-float-label">
                                <input class="form-control" type="text" id="addressLine1" formControlName="addressLine1"
                                    placeholder="Address Line 1">
                                <label for="addressLine1">Address Line 1</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group has-float-label">
                                <input class="form-control" type="text" id="addressLine2" formControlName="addressLine2"
                                    placeholder="Address Line 2">
                                <label for="addressLine2">Address Line 2</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group has-float-label">
                                <input class="form-control" type="text" id="city" formControlName="city"
                                    placeholder="Cifty" disabled="true">
                                <label for="city">City</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <span class="plain-select">
                                    <select class="form-control" id="select1" formControlName="state">
                                        <option value="" selected>State</option>
                                        <option>Alabama</option>
                                        <option>California</option>
                                        <option>Florida</option>
                                        <option>Alaska</option>
                                    </select>
                                </span>
                                <div class="error-msg" *ngIf="angForm.controls.employerAddress.controls[i].controls.state.invalid
                            && angForm.controls.employerAddress.controls[i].controls.state.touched">
                                    State is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <span class="plain-select">
                                    <select class="form-control" id="select2" formControlName="zip">
                                        <option value="" selected>Zip</option>
                                        <option>35801</option>
                                        <option>94203 </option>
                                        <option>33124 </option>
                                        <option>99501 </option>
                                    </select>
                                </span>

                                <div class="error-msg" *ngIf="angForm.controls.employerAddress.controls[i].controls.zip.invalid
                            && angForm.controls.employerAddress.controls[i].controls.zip.touched">
                                    Zip is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <span class="plain-select">
                                    <select class="form-control" id="select3" formControlName="county">
                                        <option value="" selected>County</option>
                                        <option>Huntsville</option>
                                        <option>Los Angeles</option>
                                        <option>Miami</option>
                                        <option>Anchorage</option>
                                    </select>
                                </span>
                                <div class="error-msg" *ngIf="angForm.controls.employerAddress.controls[i].controls.county.invalid
                            && angForm.controls.employerAddress.controls[i].controls.county.touched">
                                    County is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- dynamic row added end-->
                <!-- dynamic row added btn div-->
                <div class="row">
                    <div class="col text-right">
                        <button type="submit" class="btn btn-outline btn-outline-dark mb-2 mr-0"
                            (click)="addEmployerClick()">Add Address</button>
                    </div>
                </div>
                <!-- dynamic row added btn div end -->
            </div>
            <div class="card-header">
                <h4>Other Details</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <span class="plain-select">
                                <select class="form-control" id="select2">
                                    <option>Pay Period</option>
                                    <option>60 days</option>
                                    <option>30 days</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <span class="plain-select">
                                <select class="form-control" id="select3">
                                    <option>Number of Employees</option>
                                    <option>100</option>
                                    <option>100</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <div class="input-group search-input">
                                <input type="text" class="form-control" placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button">
                                        <i class="icon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <div class="input-group datepicker">
                                <input class="form-control" placeholder="Effective Date" name="dp" ngbDatepicker
                                    #d="ngbDatepicker" (click)="d.toggle()" formControlName="date">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                        type="button"><i class="icon-calendar"></i></button>
                                </div>
                            </div>
                            <div *ngIf="angForm.controls['date'].invalid && (angForm.controls['date'].dirty || angForm.controls['date'].touched)"
                                class="error-msg">
                                <div *ngIf="angForm.controls['date'].errors.required">
                                    Date is required.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group has-float-label">
                                <input class="form-control" id="phone" type="tel" 
                                (keypress)="numberOnly($event)" placeholder="Phone" formControlName="phone"
                               [textMask]="{mask: mask}" inputmode="numeric" digitOnly/>
                            <label for="phone">Phone</label>
                            <div *ngIf="angForm.controls['phone'].invalid && (angForm.controls['phone'].dirty || angForm.controls['phone'].touched)"
                                class="error-msg">
                                <div *ngIf="angForm.controls['phone'].errors.required">
                                    Phone is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group has-float-label">
                            <input class="form-control" id="mobile" type="tel"
                            (keypress)="numberOnly($event)" placeholder="Mobile" formControlName="mobile"
                         [textMask]="{mask: mask}" inputmode="numeric"  digitOnly/>
                            <label for="mobile">Mobile</label>
                            <div *ngIf="angForm.controls['mobile'].invalid && (angForm.controls['mobile'].dirty || angForm.controls['mobile'].touched)"
                                class="error-msg">
                                <div *ngIf="angForm.controls['mobile'].errors.required">
                                    Mobile is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group has-float-label">
                            <div class="input-group search-input info-content">
                                <input class="form-control" id="recoveryEmail" type="text" placeholder="Recovery Email"
                                    formControlName="recoveryEmail" />
                                <label for="recoveryEmail">Recovery Email</label>
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button"
                                    ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave"
                                        placement="auto">
                                        <i class="icon-info orange"></i>
                                    </button>
                                </div>
                            </div>
                            <div *ngIf="angForm.controls['recoveryEmail'].invalid && (angForm.controls['recoveryEmail'].dirty || angForm.controls['recoveryEmail'].touched)"
                                class="error-msg">
                                <div *ngIf="angForm.controls['recoveryEmail'].errors.email">
                                    Recovery email must be a valid email address.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="form-group mb-0">
                            <div class="btn-group btn-group-toggle" ngbRadioGroup>
                                <label ngbButtonLabel class="btn-outline-dark">
                                    <input ngbButton type="radio" value="true"> All
                                </label>
                                <label ngbButtonLabel class="btn-outline-dark">
                                    <input ngbButton type="radio" [value]="false"> Favorite
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <button class="btn btn-secondary">Cancel</button>
            <button type="submit" class="btn btn-primary" (click)="changeSuccessMessage();">
                Save
            </button>
         
        </footer>
    </div>
</form>