<!--layout start-->
<div class="layout">

    <!--top header and side navigation start here-->
    <app-header></app-header> 
    <app-sidebar></app-sidebar>
    <!--top header and side navigation end here-->

    <!--page main content div start here-->
    <div class="page-container">
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!--page main content div end here-->
    <app-footer></app-footer> 
</div>
<!--layout end-->

<!--Scroll to top-->
<!-- <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}" (click)="scrollToTop()">
    <i class="icon-up-arrow"></i>
</div> -->
