<!-- sidebar should be hide on role base -->

<!-- Side Nav START -->
<!---menu backdrop div start-->
<div class="overlay"></div>
<!---menu backdrop div end-->
<nav class="side-nav expand-lg">
  <div class="side-nav-inner">
    <ul class="side-nav-menu">
      <li class="nav-item dropdown">
        <a class="dropdown-toggle">
          <i class="icon-dashboard"></i>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" routerLink="/products"  routerLinkActive="active-link">
          <i class="icon-forms"></i>
          <span class="title">View Availability</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle active-link" routerLink="/orders-and-quotes" routerLinkActive="active-link">
          <i class="icon-shopping-bag"></i>
          <span class="title"> Orders & Quotes</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" routerLink="">
          <i class="icon-coin"></i>
          <span class="title">Users</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" routerLink="">
          <i class="icon-coverage"></i>
          <span class="title">Growers</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" routerLink="">
          <i class="icon-portfolio"></i>
          <span class="title">Profile</span>
        </a>
      </li>
    
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" routerLink="">
          <i class="icon-forms"></i>
          <span class="title">Sample Form</span>
        </a>
      </li>
      
    </ul>
    <div class="fold-menu-on-desktop">
      <a class="sidenav-fold-toggler" href="javascript:void(0);">
           <i class="icon-left"></i>
         </a>
   </div>
  </div>
</nav>
<!-- Side Nav END -->
