<form class="form-signin" [formGroup]="forgotPasswordFrom" novalidate>
  <div class="text-center logo mt-0 mb-2">
    <img src="./assets/imgs/logos/logo.svg" alt="Form Fire Logo">
  </div>
  <h2 class="text-center mt-4 mb-5">Forgot Password</h2>
  <div class="row">
    <div class="col-12">
      <div class="form-group has-float-label field-with-icon">
        <i class="icon-user"></i> <input class="form-control" type="text" id="loginEmailAddress" placeholder="Username"
          formControlName="email">
        <label for="loginEmailAddress">Username</label>
        <div
          *ngIf="forgotPasswordFrom.controls['email'].invalid && (forgotPasswordFrom.controls['email'].dirty || forgotPasswordFrom.controls['email'].touched)"
          class="error-msg">
          <div *ngIf="forgotPasswordFrom.controls['email'].errors.required">
            Username is required.
          </div>
        </div>
      </div>
      <div class="form-group">
      <div class="alert alert-warning p-1" role="alert">
          <strong>Note:</strong> The link to set a new password will be sent to your Primary email address.
        </div>
      </div>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check4">
          <label class="custom-control-label line-height-20" for="check4">I do not have access to Primary email address. Please send a link to my Recovery email address.</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center"> <button class="btn btn-secondary" type="submit"
        routerLink="/validate-email/signin">Cancel</button> <button class="btn btn-primary" type="submit"
        routerLink="/validate-email/signin">Submit</button></div>
  </div>
</form>