<form class="form-signin" [formGroup]="setupPasswordFrom" novalidate>
    <div class="text-center logo">
        <img src="./assets/imgs/logos/logo.svg" alt="Form Fire Logo">
    </div>
    <div class="text-center logo">
        <h4>Set up your Password</h4>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group  has-float-label field-with-icon">
                <i class="icon-key"></i> <input class="form-control" type="password" id="newPassword"
                    placeholder="New Password" formControlName="newPassword">
                <label for="newPassword">New Password</label>
                <div *ngIf="setupPasswordFrom.controls['newPassword'].invalid && (setupPasswordFrom.controls['newPassword'].dirty || setupPasswordFrom.controls['newPassword'].touched)"
                    class="error-msg">
                    <div *ngIf="setupPasswordFrom.controls['newPassword'].errors.required">
                        Password is required.
                    </div>
                    <div class="alert alert-danger password-error"
                        *ngIf="setupPasswordFrom.controls['newPassword'].errors.pattern">
                        <ol>
                            <li>
                                A password should be of min 8 and max 128 characters.
                            </li>

                            <li>
                                A password should have at least 1 number and 1 Special character.
                            </li>
                            <li>
                                A password should consist of lowercase and uppercase alphabetic characters.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group  has-float-label field-with-icon">
                <i class="icon-key"></i> <input class="form-control" type="password" id="confirmPassword"
                    placeholder="Confirm Password" formControlName="confirmPassword">
                <label for="confirmPassword">Confirm Password</label>
                <div *ngIf="setupPasswordFrom.controls['confirmPassword'].invalid && (setupPasswordFrom.controls['confirmPassword'].dirty || setupPasswordFrom.controls['confirmPassword'].touched)"
                    class="error-msg">
                    <div *ngIf="setupPasswordFrom.controls['confirmPassword'].errors.required">
                        Confirm password is required.
                    </div>
                    <div *ngIf="setupPasswordFrom.controls['confirmPassword'].errors.mustMatch">
                        Passwords must match.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-primary" type="submit" routerLink="/validate-email/signin">Continue</button>
        </div>
    </div>
</form>