
<div class="fixed-bottom footer">
  <div class="footer-nav-item">
    <a href="javascript:void(0)">
      <i class="icon-dashboard"></i>
      <span class="title">Dashboard</span>
    </a>
  </div>
  <div class="footer-nav-item">
    <a href="javascript:void(0)">
      <i class="icon-view"></i>
      <span class="title">View Availability</span>
    </a>
  </div>
  <div class="footer-nav-item">
    <a href="javascript:void(0)">
      <i class="icon-shopping-bag"></i>
      <span class="title">Orders & Quotes</span>
    </a>
  </div>
  <div class="footer-nav-item">
    <!-- <a href="javascript:void(0)">
      <i class="icon-user"></i>
      <span class="title">Profile</span>
    </a> -->
    <a class="sidenav-fold-toggler" href="javascript:void(0);">
      <!-- <img class="img-fluid" src="./assets/imgs/three-dots.svg"> -->
      <i class="icon-menu"></i>
      <span class="title">More</span>
    </a>
  </div>
</div>